<?xml version="1.0" encoding="UTF-8"?>
<Server>
    <Service>
        <Connector port="8080"/>
        <Engine>
            <Host name="localhost" appBase="/Users/webapps">
                <Context docBase="/Users/webapps/demo1"></Context>
                <Context docBase="/Users/webapps/demo2"></Context>
            </Host>
        </Engine>
    </Service>
    <Service>
        <Connector port="8081"/>
        <Engine>
            <Host name="localhost" appBase="/Users/webapps">
                <Context docBase="/Users/webapps/demo1"></Context>
                <Context docBase="/Users/webapps/demo2"></Context>
            </Host>
        </Engine>
    </Service>
</Server>
