<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
</head>
<body>
<h2>我是添加页面</h2>

请输入姓名：<input id="name"  name="name" type="text" /><br><br>
请输入电话：<input id="phone"  name="phone" type="text" /><br><br>
请输入地址：<input id="address" name="address" type="text" /><br><br>

<button  onclick="goadd()" name="sub" id="sub">添加</button>
<button  name="button"  onclick="javascript:history.back(-1);">返回</button>
</body>
<script>
    function goadd() {
        var name = $("#name").val();
        var phone = $("#phone").val();
        var address = $("#address").val();
        $.ajax({
            type: 'POST',
            url: '/api/user',
            data: {name:name,phone:phone,address:address},
            success: function(data){
                window.location.href="/user/index";
            },
            error: function(data){
                alert("修改失败，请检查数据重试！");
            }
        });
    }
</script>
</html>