<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
</head>
<body>
<h2>这是修改页面</h2>
<input  type="hidden" id="id" th:value="${user.id}"><br><br>
请输入姓名：<input id="name" th:value="${user.name}"/><br><br>
请输入电话：<input id="phone" th:value="${user.phone}"/><br><br>
请输入地址：<input id="address" th:value="${user.address}"/><br><br>
<button onclick="goupdate()">修改</button>&nbsp;
<button  name="button"  onclick="javascript:history.back(-1);">返回</button>
</body>
<script>
    function goupdate() {
        var id=$("#id").val();
        var name = $("#name").val();
        var phone = $("#phone").val();
        var address = $("#address").val();
        $.ajax({
            type: 'PUT',
            url: '/api/user',
            data: {id:id,name:name,phone:phone,address:address},
            success: function(data){
                window.location.href="/user/index";
            },
            error: function(data){
                alert("修改失败，请检查数据重试！");
            }
        });
    }
</script>
</html>